{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "prettier.tabWidth": 2,
  "endOfLine": "lf",
  "printWidth": 160,
  "semi": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "useTabs": false,
  "editor.defaultFormatter": "esbenp.prettier-vscode",
  "[typescript]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[javascript]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[css]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[scss]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ]
}
